model: yolov8n.pt
image_size: 640
epochs: 30
batch_size: 16
learning_rate: 0.01
momentum: 0.937
weight_decay: 0.0005
hsv_h: 0.015
hsv_s: 0.7
hsv_v: 0.4
degrees: 10.0
translate: 0.1
scale: 0.5
flipud: 0.0
fliplr: 0.5
mosaic: 1.0
mixup: 0.0
early_stopping_patience: 5
save_dir: results
save_period: 10
